<div class="editorial-stripe">

    {%- if section.settings.title != blank -%}

    <h2 class="editorial-stripe__title title">{{ section.settings.title }}</h2>

    {%- endif -%}

    <div class="editorial-stripe_carousel swiper">

        <ul class="editorial-stripe__list editorial-stripe-{{section.id}} swiper-wrapper" id="editorial-stripe-{{section.id}}">
    
            {%- assign unified_image_ratio = 0 -%}
            {% for block in section.blocks %}
                {% if block.settings.image.aspect_ratio > unified_image_ratio %}
                    {%- assign unified_image_ratio = block.settings.image.aspect_ratio -%}
                {% endif %}
            {% endfor %}
    
            {%- style -%}
                .editorial-stripe-{{section.id}} .editorial-card__media{
                    padding-bottom: {{ 1 | divided_by: unified_image_ratio | times: 100 }}%;
                }
            {%- endstyle -%}
    
            {%- for block in section.blocks -%}
    
            <li class="editorial-stripe__item editorial-stripe__item-{{section.id}}-{{ forloop.index0 }} swiper-slide" id="editorial-stripe__item-{{section.id}}-{{ forloop.index0 }}" {{ block.shopify_attributes }}>
    
                {%- style -%}
                    .editorial-stripe__item-{{section.id}}-{{ forloop.index0 }}{
                        background-color: {{ block.settings.bkg_color }};
                        color: {{ block.settings.color }};
                    }
                {%- endstyle -%}
    
                <!-- editorial card -->
    
                <div class="editorial-card">
    
                    <div class="editorial-card__media">
                        <!-- shopify responsive image tag -->
                        {{ block.settings.image | image_url: width: 2048 | image_tag: sizes: '(max-width: 991px) calc((100vw - 30px) / 1.5), calc((100vw - 30px) / 4)', loading: 'lazy', class: 'editorial-card__image block-fullwidth' }}
                    </div>
    
                    <div class="editorial-card__info">
    
                        {%- if block.settings.title != blank -%}
                        <h3 class="editorial-card__title title">{{ block.settings.title }}</h3>
                        {%- endif -%}
    
                        {%- if block.settings.text != blank -%}
                        <div class="editorial-card__text">{{ block.settings.text }}</div>
                        {%- endif -%}
    
                        {%- if block.settings.link_label != blank -%}
                        <a class="editorial-card__link link link--underline" href="{{ block.settings.link_url }}">{{ block.settings.link_label }}</a>
                        {%- endif -%}
    
                    </div>
    
                </div>
    
    
            </li>
    
            {%- endfor -%}
    
        </ul>
    
        <div class="editorial-stripe__control--next swiper-button-next">{% render 'icon-arrow-short-right' %}</div>
        <div class="editorial-stripe__control--prev swiper-button-prev">{% render 'icon-arrow-short-right' %}</div>

    </div>

</div>





{% schema %}

{

    "name": "Editorial Stripe",
    "tag": "section",
    "class": "section",
    "max_blocks": 4,
    "settings":[

        {
            "type": "text",
            "id": "title",
            "label": "Title"
        }

    ],

    "blocks": [
        {
            "name": "Block",
            "type": "block",
            "settings": [

                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
        
                {
                    "type": "color",
                    "id": "bkg_color",
                    "default": "transparent",
                    "label": "Background Color"
                },
        
                {
                    "type": "color",
                    "id": "color",
                    "default": "#000000",
                    "label": "Color"
                },

                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
        
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                },
        
                {
                    "type": "text",
                    "id": "link_label",
                    "label": "Link Label"
                },
        
                {
                    "type": "url",
                    "id": "link_url",
                    "label": "Link URL"
                }
        
            ]
        }
    ],


    "presets": [
        {
            "name": "Editorial Stripe"
        }
    ]

}


{% endschema %}
